<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
<title>Twitter Web</title>
<link rel="stylesheet" href="static/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="static/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
<script src="static/js/jquery-1.11.3.js"></script>
</head>
<body style="width: 100%;">

<div class="container" id="content" tabindex="-1" style="width: 100%;">
    <!-- The main page content -->

	 <nav style="height: 40px; margin-top:0px;" class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="{{ url_for('homepage') }}"><img style="float:left;width:50px!important;margin-top:-15px;" src="static/images/twitter_icon.png" /></a>
		</div>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="{{ url_for('homepage') }}">Ana Sayfa</a></li>
		  <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tweetler
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="{{ url_for('trend_topics') }}">Bölgede Neler Konuşuluyor?</a></li>
			  <li><a href="#"></a></li>
			</ul>
		  </li>
		  <li>
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Veri Setleri
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="{{ url_for('learned_page',tweet_set='golden_set' ) }}">İlgili Tweetler</a></li>
			  <li><a href="{{ url_for('learned_page',tweet_set='not_related_set' ) }}">İlgisiz Tweetler</a></li>
			  <li><a href="{{ url_for('learned_page',tweet_set='learned_set' ) }}">Seçilecek Tweetler</a></li>
			</ul>
		  </li>
		  <li><a href="{{ url_for('grafics') }}">Grafikler</a></li>
		</ul>
		  <div class="navbar-header" class="right_header" style="text-align:center;float:right;color:white;">
		       <bold><p style="font-size:15px; float:right;font-family:bold, Impact, fantasy;">Ege Bölgesi<br>Twitter Analizi</p></bold>


		  </div>
		  <img style="width:50px; float:right;" src="static/images/msku.png" />
	  </div>
	</nav>

	 </div>
<div><img style="width:100%; margin-top:10px; " src="static/images/map2.gif" /></div>
</div>
<script src="static/js/bootstrap.min.js"></script>
<script>
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
</body>

</html>
