<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
<title>Twitter Web</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

<!-- Optional theme -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">

<!-- Latest compiled and minified JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
</head>
<body style="width: 100%;">

<div class="container" id="content" tabindex="-1" style="width: 100%;">
    <!-- The main page content -->

	 <nav style="height: 40px; margin-top:0px;" class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#"><img style="float:left; width:50px;margin-top:-15px;" src="{{ url_for('static', filename='images/twitter_icon.png')}}" /></a>
		</div>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="#">Ana Sayfa</a></li>
		  <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tweetler
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="{{ url_for('trend_topics') }}">Bölgede Neler Konuşuluyor?</a></li>
			  <li><a href="#">En Çok Gezilen Yerler</a></li>
			</ul>
		  </li>
		  <li>
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Veri Setleri
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="{{ url_for('learned_page',tweet_set='golden_set' ) }}">İlgili Tweetler</a></li>
			  <li><a href="{{ url_for('learned_page',tweet_set='not_related_set' ) }}">İlgisiz Tweetler</a></li>
			  <li><a href="{{ url_for('learned_page',tweet_set='learned_set' ) }}">Seçilecek Tweetler</a></li>
			</ul>
		  </li>
		  <li><a href="#">Grafikler</a></li>
		</ul>
		  <div class="navbar-header" style="text-align:center; float:right; color:white;">
		       <p style="font-size:15px;">Ege Bölgesi<br>Twitter Analizi</p>


		  </div>
		  <img style="width:50px; float:right;z-index:1000000000;" src="{{ url_for('static', filename='images/msku.png')}}" />
	  </div>
	</nav>

                  {{ pagination.links }}
                  <div style="margin-right: 15%;margin-left: 15%;">

                 {% for tweet in searched %}




		          <div style="margin:5px;margin-left:0px; border: solid 1px; height:150px;">
				 <div><img class="profile" style="border-radius: 5px; margin: 20px; margin-bottom: 5px; margin-right: 5px; float: left; width: 40px; height: 40px;" src="tweet['user']['profile_image_url']" /></div>
				<div style="margin: 25px 20px 0px 20px;"><bold><span style="color: black; font-family: Serif; font-size: 15px;">
					   {{ tweet['user']['name'] }}
					</span></bold>
					<span style="color: #708090; font-family: Serif; font-size: 13px;">
					   {{ tweet['user']['screen_name'] }} {{ tweet['date'] }}
				      </span>
				 </div>
				 <div style="color: black; font-family: Serif; font-size: 14px;" >
					{{tweet['text'][:tweet['start']]}}<span style="font-weight:bold; color:blue;">{{tweet['text'][tweet['start']:tweet['end']] }}</span>{{tweet['text'][tweet['end']:]}}
				 </div>
					  <div class="action_class" align="center">
                          <ul class="action_list" style="list-style-type: none; display: flex; margin-top:5px;">
                              <li style="margin-right:40px;"><img style="width:20px; height:16px;" src="{{ url_for('static', filename='images/reply.png') }}" /></li>
                              <li style="margin-right:40px;"><img style="width:25px; height:25px;" src="{{ url_for('static', filename='images/retweet.png') }}" /></li>
                              <li style="margin-right:40px;"><img style="width:20px; height:17px;" src="{{ url_for('static', filename='images/like.png') }}" /></li>
                          </ul>

                      </div>

					   <div style="float:right;">
							  <form action="" method="post" style="width: 100%;">

						     	  <select name="dropdown">
										<option value="Related:{{tweet['_id']}}" selected>İlgili Tweetler Kümesine Ekle</option>
										<option value="NotRelated:{{tweet['_id']}}">İlgisiz Tweetler Kümesine Ekle</option>
							    	    <option value="Delete:{{tweet['_id']}}">Tweeti Sil</option>
								  </select>


								  <br><input style="float:right;" type="submit" name="submit" value="İşlemi Yap">
							  </form>
					   </div>

			    </div>
		       {% endfor %}{{ pagination.links }}

                    </div>
             </div>


	</div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
</body>

</html>
