<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
<title>Twitter Web</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

<!-- Optional theme -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">

<!-- Latest compiled and minified JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
</head>
<body style="width: 100%;">

<div class="container" id="content" tabindex="-1" style="width: 100%;">
    <!-- The main page content -->

	 <nav style="height: 40px; margin-top:0px;" class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">
              <img style="float:left;width:50px!important;margin-top:-15px;" src="{{ url_for('static', filename='images/twitter_icon.png')}}" />
          </a>
		</div>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="#">Ana Sayfa</a></li>
		  <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tweetler
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="{{ url_for('trend_topics') }}">Bölgede Neler Konuşuluyor?</a></li>
			  <li><a href="#">En Çok Gezilen Yerler</a></li>
			</ul>
		  </li>
		  <li>
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Veri Setleri
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a href="{{ url_for('learned_page',tweet_set='golden_set' ) }}">İlgili Tweetler</a></li>
			  <li><a href="{{ url_for('learned_page',tweet_set='not_related_set' ) }}">İlgisiz Tweetler</a></li>
			  <li><a href="{{ url_for('learned_page',tweet_set='learned_set' ) }}">Seçilecek Tweetler</a></li>
			</ul>
		  </li>
		  <li><a href="#">Grafikler</a></li>
		</ul>
		  <div class="navbar-header" style="text-align:center; float:right; color:white;">
		       <p style="font-size:15px;">Ege Bölgesi<br>Twitter Analizi</p>


		  </div>
		  <img style="width:50px; float:right;z-index:1000000000;" src="{{ url_for('static', filename='images/msku.png')}}" />
	  </div>
	</nav>

	  <div class="tab-content">
             <div class="trend_topics">
                 <div class="trend_topics_header"><p>Gündemde</p></div>
                 <ul class="hashtags" style="">
                     {% for count in range(length) %}
                           <li><a href="{{ url_for('trend_topic',hashtag=trend_topics[count][0] ) }}">
                                     {{trend_topics[count][0]}} ( {{trend_topics[count][1]}} tweet )
                               </a>
                           </li>
			         {% endfor %}
                      
                 </ul>
				  {{ pagination.links }}
             </div>
             <div style="width: 61%;float:right; margin-right: 2%;">
                  
                  {% for tweet in all_tweets %}
                     <div class="tweet_out_border">
                        <div style="margin: 5px ; margin-right: 0px;">
                             <img class="profile profile_img" style="" src="home/hp/Masaüstü/web/images/twitter.png" />
                        </div>
			            <div class="username">
                            <bold><span>{{tweet['username']}}</span></bold><br>
                            <span style="color: #708090; font-family: Serif; font-size: 13px;">@{{tweet['user_screenname']}}</span>
			            </div>
			            <div class="tweet_text" >
				                 {{ tweet['tweet_text'][ :tweet['start'] ] }}
                                 <span>{{ tweet['tweet_text'][ tweet['start'] : tweet['end'] ] }}</span>
                                 {{ tweet['tweet_text'][ tweet['end'] : ] }}
			            </div>
                         <div class="action_class" align="center">
                          <ul class="action_list" style="list-style-type: none; display: flex; margin-top:5px;">
                              <li><img style="width:20px; height:16px;" src="{{ url_for('static', filename='images/reply.png') }}" /></li>
                              <li><img style="width:25px; height:25px;" src="{{ url_for('static', filename='images/retweet.png') }}" />  {{tweet['retweet_count']}}</li>
                              <li><img style="width:20px; height:17px;" src="{{ url_for('static', filename='images/like.png') }}" />  {{tweet['favorite_count']}}</li>
                          </ul>

                      </div>
		    </div>
                    {% endfor %}
                   
                    </div>
             </div>
             

	</div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
</body>

</html>
