<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
<title>Twitter Web</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

<!-- Optional theme -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">

<!-- Latest compiled and minified JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
</head>
<body style="width: 100%;">

<div class="container" id="content" tabindex="-1" style="width: 100%;">
    <!-- The main page content -->

	 <nav style="height: 40px; margin-top:0px;" class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="{{ url_for('homepage') }}"><img style="float:left;width:50px!important;margin-top:-15px;" src="{{ url_for('static', filename='images/twitter_icon.png')}}" /></a>
		</div>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="{{ url_for('homepage') }}">Ana Sayfa</a></li>
		  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tweetler
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="{{ url_for('trend_topics') }}">Bölgede Neler Konuşuluyor?</a></li>
				  <li><a href="#">En Çok Gezilen Yerler</a></li>
				</ul>
		  </li>
		  <li>
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Veri Setleri
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="{{ url_for('learned_page',tweet_set='golden_set' ) }}">İlgili Tweetler</a></li>
				  <li><a href="{{ url_for('learned_page',tweet_set='not_related_set' ) }}">İlgisiz Tweetler</a></li>
				  <li><a href="{{ url_for('learned_page',tweet_set='learned_set' ) }}">Seçilecek Tweetler</a></li>
				</ul>
		  </li>
		  <li><a href="#">Grafikler</a></li>
		</ul>
		  <div class="navbar-header" class="right_header" style="text-align:center;float:right;color:white;">
		       <bold><p style="font-size:15px; float:right;font-family:bold, Impact, fantasy;">Ege Bölgesi<br>Twitter Analizi</p></bold>


		  </div>
		  <img style="width:50px; float:right;" src="{{ url_for('static', filename='images/msku.png')}}" />
	  </div>
	</nav>


   	 <div class="x" style="margin:1%;min-height: 531;">
         <div class="col-md-5 trend_topics" style="float:left;min-height: 531;width: 36%;margin:5px;border: 5px #3c3c3c; margin-right:0px;">
                 <div class="trend_topics_header" style="margin:2px;border: dashed 1px;font-weight: bold;text-align:center;">
					 <p>Gündemde</p>
				 </div>
			     <ul class="hashtags">
					 {% for trend_t in trend_topics %}
					      <li style="list-style-type: none;font-family:bold;">
							  <div style="float:left;">
								  <a href="{{ url_for('trend_topic',hashtag=trend_t[0] ) }}">
                                        {{trend_t[0]}}
								  </a>
							  </div>
							  <div style="float:right;"> {{trend_t[1]}} tweets </div>

						  </li>
					 {% endfor %}
				 </ul>
			  {{ pagination.links }}
		 </div>
	 </div>
	<div class="col-md-6" style="width: 60%;float:right; margin-right: 2%;">
		<div class="search" style="border-radius:5px;margin:1px;margin-top: 5px;margin-bottom: 5px;padding: 0.8px;
     		background-color: #3c3c3c;font-size: 15px;color: white;font-weight: bold;text-align: center;">
			<p style="margin:5px;">Tüm tweetlerde ara:</p>
		</div>


		<form action="" method="post" style="width: 100%;">
			{{ form.csrf }}
			<div class="input text" style="width: 100%;">
				{{ form.name }}
			</div>
			<div class="input submit" style="float: right;">
				<input type="submit" value="Ara" />
			</div>
		</form>

	</div>
</div>
<script src="static/js/bootstrap.min.js"></script>
<script>
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
</body>

</html>
