.hashtags {
   list-style-image: url("home/hp/social_media_analysis/website/static/images/rs1.jpg");
   
}
.hashtags li {
   
   margin-top: 5px;
   
}
.profile {

}
.learned_set li{
   list-style-type: none;
}
.text input {
   width: 100%; 
   
}

.pagination ul li{
   margin-right: 20px;
   display: flex!important;

}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
    display: flex;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
    display: flex!important;
}
.pagination {
    display: flex;
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 18px;
    display: flex;!important
    list-style-type: none;

}
.pagination-page-info .pagination ul {
    display: flex!important;
    list-style-type: none;

}
.pagination ul {
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    list-style-type: none;
}

.action_class .action_list li {
   margin-right:20px!important;
}


.trend_topics_header p{
      margin:2px;
      border: dashed 1px;
      font-weight: bold;
      text-align:center;
 }
.tweet_out_border {

      margin:5px;
      margin-right:0px;
      float:right;
      margin-left:0px;
      width:95%;
      border: solid 1px;
      height: 150px;
      margin-top:15px;

}
 .search {
     border-radius:5px;
     margin:1px;
     margin-top: 5px;
     margin-bottom: 5px;
     padding: 0.8px;
     background-color: #3c3c3c;
     font-size: 15px;
     color: white;
     font-weight: bold;
     text-align: center;
 }

.navbar-header img {
     float:left;
     width:50px!important;
     margin-top:-15px;
 }

 .right_header {
     text-align:center;
     float:right;
     color:white;
 }

 .profile_img {
     border-radius: 5px;
     margin: 20px;
     margin-bottom: 5px;
     margin-right: 5px;
     float: left;
     width: 40px;
     height: 40px;
 }

 .username {
     margin: 25px 20px 0px 20px;
 }

 .username span {
     color: black;
     font-family: Serif;
     font-size: 15px;
 }

 .tweet_text {
     color: black;
     font-family: Serif;
     font-size: 14px;
     margin-left: 25px;
     margin-top:5px;
 }

 .tweet_text span {
     color:red;
     font-weight: bold;
 }

 .action_list li {
     margin-right:40px;
 }

.trend_topics {

      float:left;
      border: solid 9px #3c3c3c!important;
      height: auto;
      width: 36%;
      margin:5px;
      margin-right:0px;

 }